@import '../shared/variables';

.header {
	z-index: 1000;
	display: flex;
  	justify-content: space-between;
 	align-items: center;
	position: sticky;
	top: 0;
  	padding: 1rem 3rem;
  	background-color: $header-background-color;

	#personalData{
		font-weight: 100;
	}

	.right-content {
		text-align: right;
		font-size: 2rem;
	}

	.icon {
		cursor: pointer;
		background-color: $header-logo-background-color;
		width: 6rem;
		height: 6rem;
		border-radius: 50%;
		display: flex;
		justify-content: center;
		align-items: center;
		&:hover {
			background-color: $accent-color;
			a {
				font-size: 4.5rem;
			}
		}
		a {
			display:contents;
    		font-size: 4rem;
			color: $secondary-color;
		}
	}
}



