<div class="block">
  <h2>BLOK Z DŁUGĄ NAZWĄ KTÓRA SAMA SIĘ PRZYTNIE</h2>
  <p>
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam fringilla
    nibh luctus varius rutrum. Sed sed efficitur ligula. Proin auctor, arcu ac
    tempus laoreet, neque purus hendrerit ligula, eget tincidunt dolor velit vel
    elit. Praesent quam nisl, luctus ut porttitor sed, tempor vel arcu. Aliquam
    at justo eu lectus gravida dapibus. Suspendisse efficitur dui justo, vel
    dapibus lectus hendrerit eget. Quisque porttitor dapibus dapibus.
  </p>
</div>
