$primary-color: #0b0c10;
$secondary-color: #f4f4f4;
$accent-color: #e88301;
$neutral-color: #858a98;

$header-background-color: #0b0c10;
$header-logo-background-color: #303030;

$footer-background-color: #15161a;
$footer-border-color: #000000;
$footer-content-color: rgb(59, 59, 59);