@import '../shared/variables';

.footer {
	background-color: $footer-background-color;
	display: flex;
	height: 12vh;
	justify-content: space-between;
	align-items: center;
	position: relative;
	z-index: 3;
	
	.footer-content {
		border-top: 2px solid $footer-border-color;
		padding: 1rem 3rem;
		background-color: $footer-background-color;
		z-index: 3;
		flex: 1;
		display: flex;
		height: 100%;
	
	p {
		position: relative;
  		display: inline-block;
		color: $footer-content-color;
	}

	.logo-box {
		margin: auto 0;
	}

	#logo {
		padding: 0.5rem;
        position: relative; 
        width: 5.5rem;
		height: 5.5rem;
        display: flex;
        flex-direction: column; 
        align-items: left;
        transition: transform 0.5s ease;
		color: $footer-content-color;
		font-size: 1.5rem;

        &::before {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            border: 1px solid $footer-content-color;
			color: $accent-color;
            transition: transform 0.5s ease;
		}

        &:hover{
			color: $neutral-color;
			
			&::before {
				border: 1px solid $accent-color;
				transform: rotate(90deg);
			}
			
		}

    }

	#nabthat {
		position: absolute;
		top: 50%;
  		left: 50%;
  		transform: translate(-50%, -50%);
		text-align: center;
		p {
			font-size: 2rem;
			&::before,
			&::after {
				content: '';
				position: absolute;
				top: 50%;
				width: 4rem;
				height: 1px;
				background-color: $footer-content-color;
			}
			
			&::before {
				left: -4.5rem;
			}
			&::after {
				right: -4.5rem;
			}
		}
	}


	#selection-button {
		margin-left: auto;
		right: 0;
		display: flex;
		justify-content: center;
		align-items: center; 
		position: relative;
		height: 100%;
		z-index: 2;

		button {
			background-color: transparent;
			color: $neutral-color;
			border: 1px solid $footer-content-color;
			border-radius: 5px;
			width: 17rem;
			font-size: 1rem;
			font-weight: bold;
			cursor: pointer;
			padding: 1rem 2rem;
			position: relative;
			&:hover {
				border-color: $secondary-color;
				color: $secondary-color;
			}
		}

		.fa-angle-down {
			transition: transform 0.3s ease;
		  }
		  
		  .rotated {
			transform: rotate(-180deg);
		  }
	}
		
		
	@media (max-width: 960px) {
	#nabthat {
	  display: none;
	}
  }

	}

  .selection-viewport {
	position: absolute;
	margin: 0 3rem;
	padding: 1rem;
	right: 0;
	width: 15rem;
	height: 17vh;
	top: 0;
	background-color: $secondary-color;
	box-shadow: 0px -5px 15px rgba(0, 0, 0, 0.3), 5px 0 15px rgba(0, 0, 0, 0.3), -5px 0 15px rgba(0, 0, 0, 0.3);
	display: none;
	transform: translateY(0%);
	transition: transform 0.5s display 0.5s ease;

	z-index: 1;

	p {
		color: $header-logo-background-color;
		margin: 0;
		padding: 0.2rem 0;
		font-size: 1rem;
		cursor: pointer;
		transition: color 0.5s ease;
		&:hover {
			color: $accent-color;
		}
	}
	}

	.is-viewport-visible {
		display: flex;
		flex-direction: column;
		transform: translateY(-100%);
	}
}

