.footer {
	background-color: #15161a;
	display: flex;
	height: 12vh;
	justify-content: space-between;
	align-items: center;
	position: relative;
	z-index: 3;
	
	
	
	.footer-content {
		border-top: 4px solid black;
		padding: 1rem 2rem;
		background-color: #15161a;
		z-index: 3;
		flex: 1;
		display: flex;
		height: 100%;
	
	p {
		position: relative;
  		display: inline-block;
		color: grey;
	}

	.logo-box {
		margin: auto 0;
	}

	#logo {
		padding: 0.5rem;
        position: relative; 
        width: 4rem;
		height: 4rem;
        display: flex;
        flex-direction: column; 
        align-items: left;
        transition: transform 0.5s ease;
		color: grey;

        &::before {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            border: 1px solid grey;
			color: #e88301;
            transition: transform 0.5s ease;
		}

        &:hover{
			color: white;
			
			&::before {
				border: 1px solid #e88301;
				transform: rotate(90deg);
			}
			
		}

    }

	

	#nabthat {
		position: absolute;
		top: 50%;
  		left: 50%;
  		transform: translate(-50%, -50%);
		text-align: center;
		p {

			&::before,
			&::after {
				content: '';
				position: absolute;
				top: 50%;
				width: 20px;
				height: 1px;
				background-color: grey;
			}
			
			&::before {
				left: -30px;
			}
			&::after {
				right: -30px;
			}
		}
	}


	#selection-button {
		margin-left: auto;
		right: 0;
		display: flex;
		justify-content: center;
		align-items: center; 
		position: relative;
		height: 100%;
		z-index: 2;

		button {
			background-color: transparent;
			color: gray;
			border: 1px solid gray;
			border-radius: 5px;
			width: 20rem;
			font-size: 1.5rem;
			cursor: pointer;
			padding: 1rem 2rem;
			position: relative;
			&:hover {
				border-color: white;
				color: white;
			}
		}
	}
		
		
	@media (max-width: 960px) {
	#nabthat {
	  display: none;
	}
  }

}

  .selection-viewport {
	position: absolute;
	margin: 0 2rem;
	padding: 2rem;
	right: 0;
	width: 16rem;
	height: 5vh;
	top: 0;
	background-color: white;
	display: flex;
	flex-direction: column;
	transform: translateY(0%);
	transition: transform 0.5s ease;
	z-index: 1;

	p {
		color: grey;
		margin: 0;
		padding: 0;
		font-size: 1rem;
		cursor: pointer;
		transition: color 0.5s ease;
		&:hover {
			color: #e88301;
		}
	}
}

.is-viewport-visible {
	transform: translateY(-100%);
}
}

