<div class="footer">
  <div class="footer-content">
    <div class="logo-box">
      <div id="logo">
        <span>CSS</span>
        <span>IS</span>
        <span>AWESOME</span>
      </div>
    </div>
    <div id="nabthat">
      <p>nabthat</p>
    </div>
    <div id="selection-button">
        <button (click)="toggleViewport()">POKAŻ</button>
    </div>
  </div>
  <div class="selection-viewport" [class.is-viewport-visible]="isViewportVisible">
    <p (click)="reset()">> ZRESETUJ USTAWIENIA</p>
    <p (click)="togglePersonalData()">> POKAŻ DANE OSOBOWE</p>
  </div>
</div>
