<div class="footer">
  <div >
    <div id="logo">

      <span>CSS</span>
      <span>IS</span>
      <span>AWESOME</span>
    </div>
  </div>
  <div id="nabthat">
    <p>nabthat</p>
  </div>
  <div class="select">
    <div class="selection-button">
      <button (click)="toggleViewport()">POKAŻ</button>
    </div>
    <div class="selection-viewport" [class.is-viewport-visible]="isViewportVisible">
      <p (click)="reset()">> ZRESETUJ USTAWIENIA</p>
      <p (click)="togglePersonalData()">> POKAŻ DANE OSOBOWE</p>
    </div>
  </div>
</div>
