<main class="main">
<app-header [isPersonalDataVisible]="isPersonalDataVisible"></app-header>
  <div class="content">
    <h1>Nagłówek H1</h1>
    <hr />
    <div class="blocks">
      <app-block1
        class="block"
        (optionSelected)="onOptionSelected($event)"
      ></app-block1>
      <app-block2
        class="block"
        (dataSent)="onReceiveData($event)"
        [radioSelection]="selectedOption"
      ></app-block2>
      <app-block3 class="block" [data]="receivedData"></app-block3>
    </div>
  </div>
  <app-footer (showPersonalDetails)="onShowPersonalDetails()"></app-footer>
</main>
